MySQLProject/__init__.pyc
MySQLProject/wsgi.pyc
MySQLProject/urls.pyc
MySQLProject/settings.pyc

MySQLProject/local_settings.py
logs/

views/ancillary.pyc
views/forum.pyc
views/__init__.pyc
views/post.pyc
views/thread.pyc
views/user.pyc


